.App {
  text-align: center;
}
.logo {
  width: 70px;
  height: 70px;
  margin-top: 12px;
  margin-right: 10px;
}
.navName {
  display: flex;

}
a {
  text-decoration: none;
  
}
.intro{
  font-size: 30px;
  color: red;
}
.navButtons {
  margin-top: 30px;
}

.navButtons a {
  color: white;
  font-size: 18px;
  padding: 10px;
  

}
.cart {
  margin-top: 20px;
  height: 50px;
  width: 50px;
}

.navBar {
  background-color: #282c34;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 1vmin);
  color: white;
}
